body {
  background: linear-gradient(21deg, #1360a2, #0074b4, #84b4a5);
  background-size: 600% 600%;
  -webkit-animation: fadeIn 44s ease infinite;
  -moz-animation: fadeIn 44s ease infinite;
  animation: fadeIn 44s ease infinite;
  @-webkit-keyframes fadeIn {
    0% {
      background-position: 33% 0%
    }
    50% {
      background-position: 68% 100%
    }
    100% {
      background-position: 33% 0%
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      background-position: 33% 0%
    }
    50% {
      background-position: 68% 100%
    }
    100% {
      background-position: 33% 0%
    }
  }
  @keyframes fadeIn {
    0% {
      background-position: 33% 0%
    }
    50% {
      background-position: 68% 100%
    }
    100% {
      background-position: 33% 0%
    }
  }
}

.splash {}

.head {
  font-size: 14em;
  font-family: 'IBM Plex Sans';
  color: #2F2F2F;
  font-weight: 700;
  line-height: 85% !important;
}

.subHead {
  font-size: 2.7em;
  font-weight: 700;
  font-family: 'IBM Plex Sans';
  color: #2F2F2F;
  margin-bottom: 30px;
}

.subHeadLight {
  font-size: 2.7em;
  font-weight: 700;
  font-family: 'IBM Plex Sans';
  color: #F9C70E;
  margin-bottom: 30px;
  line-height: 15% !important;
}

.headSpan {
  color: #FF2344;
}
.headSpan2{
  color: #2F2F2F;
}

.primary {
  margin-top: -30px;
  margin-bottom: 30px;
  height: 8px !important;
  width: 100%;
  background-color: #FF2344 !important;
}

.headBody {
  margin-left: 80px;
  font-size: 12em;
  color: #2F2F2F;
  font-weight: 700;
  line-height: 75% !important;
}

.subHeadBody {
  margin-left: 100px;
  font-size: 8em;
  color: #F9C70E;
  font-weight: lighter;
  line-height: 75% !important;
}
.sectArrow{
  display: inline-block;
  margin-top: -150px;
  position: relative;
  width: 100px;
  height:250px;
  transform: rotate(230deg);
  font-weight: bolder;
}
.sectArrowMain{
  position: fixed;
  bottom:0;
  width: 100px;
  height:250px;
}
